<div class="container">
    <app-status></app-status>
    <app-titel class="header" [margin]="30"></app-titel>
    <div></div>
    <app-card class="card" [width]="65" [height]="18">
        <h2 class="title">Verbindung</h2>
        <app-input-header headerText="NAME DER DROHNE" placeHolderText1="Hons" icon1="#" [(value)]="name"></app-input-header>
        <app-input-header headerText="IP-ADRESSE" placeHolderText1="192.168.0.1" icon1="↔" [(value)]="ip"></app-input-header>
        <app-button text="Verbinden" (click)="handleConnect()" [variant]="ButtonVariant.blue"></app-button>
    </app-card>

    <app-drone-carousel class="carousel-container"></app-drone-carousel>

</div>
