<div class="video-container">
    <video id="video"></video>
</div>
<div class="overlay">
    <div class="top">
        <div class="modeSepa">
            <p id="mode">Mode: {{ modeName() }}</p>
            <div class="seperator"></div>
        </div>

        <div class="buttonContainer">
            <app-button class="landStartbtn" text="Takeoff" (click)="takeoff()" [variant]="ButtonVariant.green"></app-button>
            <app-button class="landStartbtn" text="Land" (click)="land()" [variant]="ButtonVariant.red"></app-button>
        </div>
        <div class="seperator"></div>
        <div class="tempBatCon">
            <p id="temp">{{ state().templ }}°C - {{ state().temph }}°C</p>
            <p id="battery">{{ state().bat }}%</p>
            <p id="drone-connection">{{ drone().getName }} ({{ drone().getIp }})</p>
        </div>

    </div>

    <div class="bottom">
        <div class="heightSpeed">
            <p id="height">100m</p>
            <p id="speed">{{ speed() }}km/h</p>
        </div>

        <div class="PRY">
            <p id="pitch">{{ state().pitch }}°</p>
            <p id="roll">{{ state().roll }}°</p>
            <p id="yaw">{{ state().yaw }}°</p>
        </div>

        <div class="timeDist">
            <p id="flight-time">1m 15s</p>
            <p id="flight-distance">200m</p>
        </div>

    </div>
</div>

@if (mode() == "KEYBOARD") {
    <app-keyboard-input></app-keyboard-input>
}

@if (mode() == "CONTROLLER") {
    <app-controller-input></app-controller-input>
}
