:host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    color: var(--gray-900);
    font-weight: 500;
    margin: 0;
}

.form-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: flex;
    gap: 10px;
}

label {
    width: 160px;
    height: 48px;

    display: flex;
    align-items: center;
    padding: 0 10px;

    border-radius: 6px;
    background: color-mix(in srgb, var(--bright-blue) 10%, transparent);
    color: var(--bright-blue);
    font-weight: 500;
}

input {
    width: 200px;
    height: 48px;

    padding: 0 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
}

button {
    margin-top: 1rem;
    padding: 0.6rem 1.5rem;
    border-radius: 999px;
    border: none;
    background: var(--bright-blue);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}
