<app-card class="card" routerLink="/flyyy" [queryParams]="{mode:'ring'}" [width]="checkDeviceWitdh()" [flexdirection]="flexdirection" [shadow]="shadow" [variant]="CardVariants.grey" [height]="checkDeviceHeight()">
    <div class="content">
        <img src="droneList/droneIcon.png" alt="miGfreitsKoaneNomenMeaAussuachn">
        <div class="miGfreitsKoaneNomenMeaAussuachn">
            <span class="autonomesfliegen">Autonomes-Fliegen</span>
            <span class="ringeerkennen">{{ zweiterText }}</span>
        </div>

    </div>
</app-card>
