.card {

}

.black{
    background-color: var(--black-card-color);
    border: 1px solid #30363d;
    border-radius: 12px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
}

.grey{
    background-color: var(--grey-card-color);
    border: 1px solid #30363d;
    border-radius: 12px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
    color: white;
}
