<div class="carousel-container">
    <button (click)="prev()" [disabled]="currentIndex === 0">‹</button>

    <div class="window">
        <div class="track" [style.transform]="'translateX(-' + (currentIndex * 33.33) + '%)'">
            @for (item of items; track item.id; let i =  $index) {
                <div class="card" [style.background-color]="item.color" [style.box-shadow]="item.color" >
                    <div id="outerContentContainer" (click)="selectDrone(item)">
                        <img class="tello" src="droneList/telloDrone.svg" alt="Drone">
                        <div id="innerContentContainer">
                            <div class="textWrapper">
                                <span class="icon">#</span>
                                <h3 icon="text">{{item.name}}</h3>
                            </div>
                            <div class="textWrapper">
                                <span class="icon">↔</span>
                                <h3>{{item.ip}}</h3>
                            </div>
                        </div>
                    </div>

                </div>
            } @empty {
                <li>There are no items.</li>
            }
        </div>
    </div>

    <button (click)="next()" [disabled]="currentIndex >= items.length - 3">›</button>
</div>
