.title {
    font-family: Arial, sans-serif;

    font-weight: bold;
    letter-spacing: -1px;
}

.white-part {
    color: #ffffff;
    text-transform: uppercase;
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.7),
        0 0 10px rgba(255, 255, 255, 0.3),
        0 0 15px rgba(255, 255, 255, 0.1);
}

.blue-part {
    color: #0055ff;
    text-transform: lowercase;
    text-shadow: 0 0 5px rgba(0, 85, 255, 0.7),
    0 0 10px rgba(0, 85, 255, 0.4);
}


