.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6,auto);

    width: 100%;
    height: auto;
    gap: 15px;
}

.titel{
    grid-column: span 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.connectedDrone{
    grid-column: span 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.start-card{
    grid-column: span 2;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pathlist{
    grid-column: span 2;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
